.div2{
    background-color: aqua;
    height: 600px;
    padding: 100px;
}
.awssld__content{
    background-color: transparent !important;
}
.awssld{
    --slider-height-percentage: 30% !important;
    --organic-arrow-color: red  !important;
    }
    .awssld__bullets button{
        background: black !important;
    }
    .awssld__timer{
        background-color: transparent !important;
    }
    .awssld__controls button .awssld__controls__arrow-left, .awssld__controls button .awssld__controls__arrow-right{
        opacity: 1 !important;
    }