.nav{
    display: flex;
    justify-content: space-around;
    top: 0;
    z-index: 100;
    position: sticky;
    background-color:bisque;
}
.nav_list{
    display: flex;
    align-items: center;
    justify-content:space-around;
    width: 100%;
}
.nav_menu{
    padding: 10px;
    border-radius: 10px;
}
.nav_menu > p > a{
    text-decoration: none;
}
.isActive{
    background-color: aqua;
}
.isActive  a{
    color: red !important;
}
.nav_menu:hover{
    background-color: aqua;
    cursor: pointer;
}
.nav_menu > p{
    font-size: 25px;
}